<section class='tab utility {{tab.cssClass}}' data-group='primary' data-tab='utility'>
    <div class="quick-placement">
        <fieldset id="ab-optimization">
            <legend>Optimization</legend>
            <a data-tooltip="Merge Tiles" class="utility-button" data-action="merge"><i
                    class="fas fa-object-group"></i></a>
            <a data-tooltip="Split Tiles" class="utility-button" data-action="split"><i
                    class="fas fa-object-ungroup"></i></a>
        </fieldset>
        <fieldset>
            <legend>Tools</legend>
            <a data-tooltip="Lock/Unlock" class="utility-button" data-action="lock"><i
                    class="fas fa-lock"></i></a>
            <a data-tooltip="Extrude" class="utility-button" data-action="extrude"><i
                    class="fas fa-draw-polygon"></i></a>
            <a data-tooltip="Extrude Walls" class="utility-button" data-action="extrude-walls"><i
                    class="fa-solid fa-block-brick"></i></a>
        </fieldset>
        <fieldset>
            <legend>Procedural</legend>
            <a data-tooltip="Smart Scatter" class="utility-button" data-action="smart-scatter"><i
                    class="fas fa-leaf"></i></a>
            <a data-tooltip="Vines" class="utility-button" data-action="vines"><i
                    class="fa-solid fa-hand-holding-seedling"></i></a>
        </fieldset>

        <fieldset style="grid-column: span 3;">
            <legend>Magic Overlays</legend>
            <a data-tooltip="Grassy" class="utility-button" data-action="overlay-grassy"><i
                    class="fas fa-seedling"></i></a>
            <a data-tooltip="Icy" class="utility-button" data-action="overlay-icy"><i
                    class="fas fa-snowflake"></i></a>
            <a data-tooltip="Dirty" class="utility-button" data-action="overlay-dirty"><i
                    class="fas fa-mountain"></i></a>
            <a data-tooltip="Sandy" class="utility-button" data-action="overlay-sandy"><i
                    class="fas fa-sandwich"></i></a>
            <a data-tooltip="Leafy" class="utility-button" data-action="overlay-leafy"><i
                    class="fas fa-leaf-oak"></i></a>
            <a data-tooltip="Dusty (Baileywiki)" class="utility-button" data-action="overlay-dusty"><i
                    class="fas fa-broom"></i></a>
            <a data-tooltip="Cobwebs (Baileywiki)" class="utility-button" data-action="overlay-cobwebs"><i
                    class="fas fa-spider"></i></a>
            <a data-tooltip="Bloody (Baileywiki)" class="utility-button" data-action="overlay-bloody"><i
                    class="fas fa-tint"></i></a>
            <a data-tooltip="Cracked (Baileywiki)" class="utility-button" data-action="overlay-cracked"><i
                    class="fas fa-house-crack"></i></a>
            <a data-tooltip="Vines (Baileywiki)" class="utility-button" data-action="overlay-vines"><i
                    class="fas fa-plant-wilt"></i></a>
        </fieldset>
    </div>
</section>