:root{
    --mapgen-cellsize: 50px;
}

#mapgen form{
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#mapgen .action-buttons{
    height: 3rem;
}

#mapgen .main-interface{
    display: flex;
    flex-direction: row;
    position: relative;
    max-height: calc(100% - 3rem);
}

#mapgen .grid-container{
    height: 100%;
    width: 70%;
    overflow: scroll;
}

#mapgen .material-panel{
    height: 100%;
    width: 30%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#mapgen .material-panel ol{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#mapgen .grid-cell{
    height: var(--mapgen-cellsize);
    width: var(--mapgen-cellsize);
    border: 2px solid var(--color-border-dark);
    display: flex;
    position: relative;
    transition: all 0.2s ease-in-out;
    background-color: white;
}

#mapgen .grid-cell:hover{
    filter: brightness(1.5);
}

#mapgen .grid-cell.selected{
    border: 4px solid var(--color-shadow-primary);
}

#mapgen .grid-cell input{
    max-width: 100%;
    text-align: center;
    font-size: calc( var(--mapgen-cellsize) * 0.7 );
    transition: all 0.2s ease-in-out;
    pointer-events: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

#mapgen .grid-row{
    display: flex;
    flex-direction: row;
}