#miniCanvas .window-content{
    background: none;
}

#miniCanvas .window-header{
    z-index: 10;
    background: #000000bd;
}

#levels3d-ruler-text {
    font-size: 1.5rem;
    color: white;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    position: absolute;
    pointer-events: none;
    z-index: 1;
}

#levels3d{
    position: absolute;
    top: 0;
    left: 0;
}

#canvas-3d-toggle:hover{
    cursor: pointer;
    text-shadow: rgba(255, 0, 0, 0.75) 0 0 5px;
}

#clip-navigation{
    transform-origin: top right;
    transform: rotate(-90deg);
}

#clip-navigation input{
    height: 100%;
    width: 100%;
}