#miniCanvas .window-content{
    background: none;
}

#miniCanvas .window-header{
    z-index: 10;
    background: #000000bd;
}

#levels3d-ruler-text {
    font-size: 1.5rem;
    color: white;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    position: absolute;
    pointer-events: none;
}

#levels3d{
    position: absolute;
    top: 0;
    left: 0;
}